.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 30%;
    padding: 10px;
    width: 30%;
    height: 30%;
    background-color: #FFED3D;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textbox {
    margin: 5px;
    width: 100%;
    height: 30%;
    padding: 5px;
    border: 1px solid lightgray;
    resize: none;
    outline: none;

    font-size: 16px;
}

.login-btn {
    padding: 8px;
    margin: 10px;
    background-color: #45B600;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.formgroup {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.resume-container {
    margin: 10px;
    border: 2px solid black;
}

.resume-header {
    display: block;
    background-color: rgb(214, 255, 255);
    height: 200px;
    width: 100%
}

#name {
    padding-top: 50px;
    margin: 0;
    text-align: center;
    font-size: 35px;
}
.appliedFor {
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.resume-columns {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
    grid-gap: 50px;
}

.col-1 {
    background-color: lightpink;
    padding: 10px;
    width: 105%;
    height: 55%;
    text-align: right;
}

.col-1-heading {
    background-color: darkgray;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}
#search-result-area {
    text-align: center;
}

#search-results {
    list-style-type: none;
}

.search-bar-area {
    text-align: center;
    margin: auto;
}

#searchbar {
    width: 400px;
}

.resume-display-area {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid black;
}

.usericon {
    font-size: 140px;
    background-color: transparent !important;
    position: relative;
}
